* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #7c7c7c;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.map {
  width: 70%;
  border: double 3px green;
}

svg path {
  fill: #80b869;
  stroke: #fff;
  stroke-width: 1.5px;
  transition: 0.3s;
}

path:hover {
  cursor: pointer;
  fill: #8a5252;
}
