* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box !important;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: brown;
  color: white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-top: 5px;
  background-color: rgb(151, 106, 52);
  color: white;
}

body {
  min-height: 100vh;
  background-color: rgb(24, 23, 23);
  overflow: hidden;
}

.map {
  margin-top: 20px;
  max-width: 100%;
  border: double 3px green;
}

svg {
  min-width: 100%;
}

svg path {
  fill: #80b869;
  stroke: #fff;
  stroke-width: 1.5px;
  transition: 0.3s;
}

path:hover {
  cursor: pointer;
  fill: #8a5252;
}
